apiVersion: apps/v1
kind: Deployment
metadata:
  name: new-app-deployment
spec:
  replicas: 2  # Nombre de réplicas de votre application
  selector:
    matchLabels:
      app: new-app
  template:
    metadata:
      labels:
        app: new-app
    spec:
      containers:
        - name: new-app
          image: dockerraziza/New_app  # Le nom de l'image Docker
          ports:
            - containerPort: 80  # Port de l'application exposé
